@model string
@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
</hgroup>
<ol class="breadcrumb">
    <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
    <li class="active">Forgot Password</li>

</ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                An email has been sent to <b>@Model</b> with instructions to reset your password!
            </p>
            <p>
                Click @Html.ActionLink("here to Login!", "Login")
            </p>
        </div>
    </div>
</div>

	
