@{
    ViewBag.Title = "Reset password confirmation!";
}
<ol class="breadcrumb">
    <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
    <li class="active">Reset Password</li>

</ol>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <hgroup class="title">
                <h4>@ViewBag.Title</h4>
            </hgroup>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
            </p>
        </div>
    </div>
</div>
