@if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
{
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">×</a>


        @foreach (var item in ViewData.ModelState.Values)
        {
            foreach (var test in item.Errors)
            {
                if (test != null)
                {
                    <div><strong>Erorr: </strong>@test.ErrorMessage</div>
                }
            }
        }
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    </div>
}

